#block-views-block-projects .item-list > ul{
    display: flex;
}
#block-views-block-projects .item-list > ul > li{
    padding: 1em;
    list-style: none;
}
#block-views-block-projects .item-list > ul > li:nth-child(1){
    flex: 1;
}
#block-views-block-projects .item-list > ul > li:nth-child(2){
    flex: 1.25;
}
#block-views-block-projects .item-list > ul > li:nth-child(3){
    flex: 1;
}
#block-views-block-projects .project.teaser {
    position: relative;
}
#block-views-block-projects .project.teaser .field-picture{
    position: absolute;
    top: 0;
    bottom: 0;
    height: 100%;
    left: 0;
    right: 0;
    width: 100%;
}
#block-views-block-projects .project.teaser .field-picture-hidden img{
    width: 100%;
    height: auto;
    
}
#block-views-block-projects .item-list > ul > li .field-picture{
    opacity: 0;
}