

@media screen and (min-width: 1200px){
    #block-mainpagecontent .home{
        margin-top: -5em;
        padding: 0 7em;
    }
    /* .path-node #block-mainpagecontent .layout-content{
        padding-right: 10em;
    } */
}
