@media screen and (max-width: 980px){
    #block-branding-home img{
        margin: auto;
    }
}
#block-branding img,
#block-sitebrandingwhite img{
    display: block;
    width: auto;
    height: 7em;
    padding: 1em;
}
#block-branding-home img{
    display: block;
    width: auto;
    height: 10em;
}
#block-branding-home{
    font-family: 'california_dreamer_sansRg';
}
