{% extends "block.html.twig" %}

{% block content %}
  {% if content %}
    {{ content }}
    <div class="field-link">
        <a title="Lien vers la page des réalisations" href="http://localhost:8888/ayla_webfolio_website/web/realisations">Tout voir</a> 
    </div>
  {% endif %}
{% endblock %}
