@media screen and (max-width: 767px){
  #block-views-block-projects-block-project div.field-link,
  #block-views-block-projects-block-project div.field-link {
    margin-top: 4em;
  }
}

#block-views-block-projects-block-project div.field-link,
#block-views-block-projects-block-project div.field-link {
   text-align: center;
}
div.field-link > a {
    font-family: 'california_dreamer_sansRg';
    font-size: 1.5em;
    color: #c69f70;
    -webkit-transition: all 0.8s ease;
    -moz-transition: all 0.8s ease;
    -ms-transition: all 0.8s ease;
    -o-transition: all 0.8s ease;
    transition: all 0.8s ease;
}
div.field-link > a:hover {
  color: #93B9AF;

}
.page-node-type-project-gallery div.field-link > a,
.page-node-type-project-gallery div.field-link > a {
  font-family: 'california_dreamer_sansRg';
  font-size: 1.5em;
  color: #c69f70;
}
ul.field-link {
  margin-bottom: 2em;
}
ul.field-link li {
  list-style-type: none;
  margin-bottom: 1px;
}

ul.field-link li a {
  font-family: 'california_dreamer_sansRg';
  font-size: 1.5em;
  color: #c69f70;
  display: block;
  -webkit-transition: all 0.8s ease;
  -moz-transition: all 0.8s ease;
  -ms-transition: all 0.8s ease;
  -o-transition: all 0.8s ease;
  transition: all 0.8s ease;
}
ul.field-link li a:before {
  content: ">";
  margin-left: .5em;
  margin-right: .5em;
}
ul.field-link li a:hover {
  color:#93B9AF;
}

