.field-webform input[type="text"],
.field-webform input[type="email"],
.field-webform input[type="tel"],
.field-webform input[type="password"],
.field-webform textarea{
    width: 100%;
    display: flex;
    border-bottom: 1px solid #000;
    padding: 1em 0;
    margin-bottom: 2em;
    flex: 1;
    resize: none;
    font-family: 'Assistant', sans-serif;
}

.field-webform .form-item-rgpd{
    display: flex;
}
.field-webform .description {
    margin: 0 0 2em 1em;
    flex: 8;
}
.field-webform .description a {
    color: #c69f70;
    font-weight: 400;
}
