.field-webform form > div:not(#edit-actions) > input,
.field-webform textarea{
    width: 100%;
    display: flex;
    border-bottom: 1px solid #000;
    padding-bottom: 0.2em;
    margin-bottom: 2em;
    flex: 1;
}
.field-webform .form-item-rgpd{
    display: flex;
}
.field-webform .description {
    margin-bottom: 2em;
    flex: 8;
}
.field-webform .description a {
    color: #c69f70;
    font-weight: 400;
}