.field-button{
    color: #c69f70;
    border: 2px solid #c69f70;
    font-family: 'Assistant', sans-serif;
    font-weight: 400;
    font-size: 1em;
    padding: 0.5em 1.5em;
    background-color: initial;
    cursor: pointer;
    -webkit-transition: all 0.8s ease;
  -moz-transition: all 0.8s ease;
  -ms-transition: all 0.8s ease;
  -o-transition: all 0.8s ease;
  transition: all 0.8s ease;
}
.field-button:hover{
    color: #93B9AF;
    border: 2px solid #93B9AF;
  
}
@media screen and (max-width: 767px){
    .field-button{
        margin: auto;
        padding: 1em 8em;
        display: flex;
        font-size: 1.2em;
    }
}
@media screen and (min-width: 768px) and (max-width: 959px) {
    .field-button{
        display: flex;
        margin: auto;
        padding: 0.8em 6em;
        font-size: 1.2em;
    }
}