{% if content %}

    <article class="project teaser">

        <div class="layout">

            {% if content.picture %}
                <div class="layout-picture">
                    {{ content.picture }}
                </div>
            {% endif %}

            {% if content.content %}
                <div class="layout-content">
                    {{ content.content }}
                </div>
                {% if content.link %}
                    {{ content.link }}
                {% endif %}
            {% endif %}

        </div>

    </article>

{% endif %}