{% if content %}

    <div class="layout">

        {% if content.content %}
            <div class="layout-content">
                {{ content.content }}
            </div>
        {% endif %}

    </div>

{% endif %}