@import url('https://fonts.googleapis.com/css2?family=Assistant:wght@300;400;700&display=swap');
/* font-family: 'Assistant', sans-serif; */
@font-face {
  font-family: 'california_dreamer_sansRg';
  src: url('../fonts/californiadreamersans-webfont.woff2') format('woff2'),
  url('../fonts/californiadreamersans-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

* {
  padding: 0;
  margin: 0;
  border: none;
  box-sizing: border-box;
}

html {
  font-size: 16px;
}

body {
  font-family: 'Assistant', sans-serif;
  font-weight: 300;
  font-size: 100%;
  padding-top: 6em;
}

.path-frontpage, .page-node-type-project, .page-node-type-project-gallery {
  padding-top: 0;
}
.project .layout-content.header {
  margin-top: 4em;
}

/* tablet et +  */
@media screen and (min-width: 768px) {
  body {
    padding-bottom: 8em;
  }
  .path-frontpage, .page-node-type-project, .page-node-type-project-gallery {
    padding-bottom: 8em;
  }
  .project .layout-content.header {
    margin-top: 8em;
  }
}

/* ---------------------- RESETS */

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
}

a {
  text-decoration: none;
  color: inherit;
}

p {
  line-height: 1.5em;
}

em {
  color: #c69f70;
  font-family: 'Assistant', sans-serif;
  font-weight: 400;
  font-style: inherit;
}
em a{
  -webkit-transition: all 0.8s ease;
  -moz-transition: all 0.8s ease;
  -ms-transition: all 0.8s ease;
  -o-transition: all 0.8s ease;
  transition: all 0.8s ease;
}
em a:hover{
  color: #93B9AF;
}

img {
  max-width: 100%;
  height: auto;
}

ul li {
  list-style: inside;
}

/* ---------------------- REGIONS */

@media screen and (max-width: 767px) {
  .wrapper {
    width: 90vw;
    margin: 0 auto;
  }
}

@media screen and (min-width: 768px) {
  .wrapper {
    width: 80vw;
    margin: 0 auto;
  }
}

@media screen and (min-width: 960px) {
  .wrapper {
    width: 65vw;
  }
  #block-main-navigation {
    width: 17.5vw;
  }
}

@media screen and (min-width: 1360px) {
  .wrapper {
    width: 40vw;
  }
  #block-main-navigation {
    width: 25vw;
  }
}

@media screen and (max-width: 767px) {
  :root {
    --margin-neg : -5vw;
    --padding-neg : 5vw;
  }
}

@media screen and (min-width: 768px) {
  :root {
    --margin-neg : -10vw;
    --padding-neg : 10vw;
  }
}

@media screen and (min-width: 960px) {
  :root {
    --margin-neg : -17.5vw;
    --padding-neg : 17.5vw;
  }
}


