/* global */
.region-footer .region {
  padding: 1em;
  background-color: #fff;
  margin: 0 var(--margin-neg);
}

.region-footer p {
  line-height: 1em;
}

/* mobile */
@media screen and (max-width: 767px) {
  .region-footer {
    margin-top: 6em;
  }
  .region-footer .region {
    padding: 5vw;
  }
  .region-footer .region .field-body {
    margin-bottom: .5em;
  }
}

/* desktop */
@media screen and (min-width: 768px) {
  .region-footer .region {
    display: flex;
    justify-content: space-evenly;
    position: fixed;
    bottom: 0;
    z-index: 800;
    width: 100%;
  }
}
