.path-frontpage .region-prefooter {
  padding-top: 5em;
  background-image: url("../../images/tache-aquarelle-histoire-ayla-etc.png");
  background-repeat: no-repeat;
  background-position: top center;
  background-size: contain;
}
/* desktop */
@media screen and (min-width: 850px) {
  .path-frontpage .region-prefooter {
    padding-top: 10em;
  }
  
}