.region-preheader {
  background-color: #fff;
  margin: 0 var(--margin-neg);
  padding: 0 var(--padding-neg);
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 1000;
}

.page-node-type-project .region-preheader,
.page-node-type-project-gallery .region-preheader {
  background-color: transparent;
  position: absolute;
}
