.path-frontpage .region-header{
    height: 100vh;
    display: flex;
    align-items: center;
    background: url(../../images/tache-aquarelle-ayla-etc.png) center center no-repeat;
    background-size: contain;
}
