/* mobile */
/* .region-content{
    margin-top: 0;
} */
@media screen and (min-width: 850px) {
    .region-content{
        margin: 6em 0;
    }
    .page-node-type-project .region-content,
    .page-node-type-project-gallery .region-content{
        margin: 0 0;
    }
}