.region-preheader{
    background-color: #fff;
    margin: 0 -10vw;
    position: fixed;
    width: 100%;
    top: 0;
    padding: 0 8em;
    z-index: 1000;
}
.page-node-type-project .region-preheader,
.page-node-type-project-gallery .region-preheader{
    background-color: transparent;
    margin: 0 -10vw;
    position: absolute;
    width: 100%;
    top: 0;
    padding: 0 8em;
    z-index: 1000;
}