/* mobile */

.region-footer{
    position: fixed;
    padding: 1em;
    width: 100%;
    bottom: 0;
    background-color: #fff;
    margin-left: -10vw;
    margin-right: -10vw;
    z-index: 1000;
}


/* desktop */
@media screen and (min-width: 850px) {
    .region-footer .region{
        display: flex;
        justify-content: space-evenly;
    }
    
}